.card{
    padding: 20px;
    margin:20px;
}
.container-fluid{
    min-height: 300px;
    padding-left: 175px;
    display: flex;

}
video{
    width: 100%;
    max-width: 100%
}

img:hover{
    transform: scale(1.2);
}

a{
    text-decoration: none;
    color: black;
}
.carousel-item{
    height:80vh;
    background-size: cover;
    background:  no-repeat scroll  center scroll;
    min-height: 300px;

}
/* .carousel-item img{height: 80vh;} */



